<!DOCTYPE html>
<html lang="en">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Pullshoes</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="../css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="../css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="../../images/fevicon.png" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">


</head>
<!-- body -->

<body>
	<!-- header section start -->
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-1">
					<div class="logo"><a href="#"><img style="height: 42px;"
								src="../images/logo.png"></a></div>
				</div>
				<div class="col-sm-9">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                           <a id="home" class="nav-item nav-link" style="width: 160px;" href="index.html">Trang chủ</a>
                           <a  class="nav-item nav-link" style="width: 150px;" href="collection.html">Bộ sưu tập</a>
                           <a class="nav-item nav-link" style="width: 140px;" href="shoes.html">Mẫu giày</a>
                           <a  class="nav-item nav-link" style="width: 180px;"  href="racing boots.html">Giày đua xe</a>
                           <a  class="nav-item nav-link" style="width: 120px;" href="contact.html">Liên hệ</a>
						   <a  class="nav-item nav-link" style="width: 180px;" href="login.html">Đăng nhập</a>
						   
			<a class="nav-item nav-link last" href="#"><img src="../images/search_icon.png"></a>
			<a class="nav-item nav-link last" href="shoppingcart.html"><img src="../images/shop_icon.png"></a>
                        </div>
                    </div>
                    </nav>
				</div>
			</div>
		</div>
		<div class="banner_section">
			<div class="container-fluid">
				<section class="slide-wrapper">
					<div class="container-fluid">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0"
									class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
								<li data-target="#myCarousel" data-slide-to="3"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="row">
										<div class="col-sm-2 padding_0">
											<p class="mens_taital">Giày nam
											</p>
											<div class="page_no">0/2</div>
											<p class="mens_taital_2">Giày
												nam</p>
										</div>
										<div class="col-sm-5">
											<div class="banner_taital">
												<h1 class="banner_text">
													Giày chạy bộ mới
												</h1>
												<h1 class="mens_text">
													<strong>Men's
														Like
														Plex</strong>
												</h1>
												<p class="lorem_text">
													Tôi dành phần
													lớn thời gian
													của mình khoác
													lên những thứ
													bất tiện, vì vậy
													tôi chỉ nghĩ đến
													những đôi giầy
													thể thao.</p>
												<button class="buy_bt"><a
														href="login.html">Mua
														ngay</a></button>
												<button class="more_bt"><a
														href="shoes.html">Xem
														thêm</a></button>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="shoes_img"><img
													src="../images/running-shoes.png">
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="row">
										<div class="col-sm-2 padding_0">
											<p class="mens_taital">Giày Nam
											</p>
											<div class="page_no">0/2</div>
											<p class="mens_taital_2">Giày
												nam</p>
										</div>
										<div class="col-sm-5">
											<div class="banner_taital">
												<h1 class="banner_text">
													Mẫu giày chạy bộ
													mới</h1>
												<h1 class="mens_text">
													<strong>Men's
														Like
														Plex</strong>
												</h1>
												<p class="lorem_text">
													Hãy mang những
													giấc mơ của bạn
													lên đôi chân để
													dẫn lối giấc mơ
													đó thành hiện
													thực.</p>
												<button class="buy_bt">Mua
													ngay</button>
												<button class="more_bt">Xem
													thêm</button>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="shoes_img"><img
													src="../images/running-shoes.png">
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="row">
										<div class="col-sm-2 padding_0">
											<p class="mens_taital">Giày nam
											</p>
											<div class="page_no">0/2</div>
											<p class="mens_taital_2">Giày
												nam</p>
										</div>
										<div class="col-sm-5">
											<div class="banner_taital">
												<h1 class="banner_text">
													Mẫu giày chạy bộ
													mới</h1>
												<h1 class="mens_text">
													<strong>Men's
														Like
														Plex</strong>
												</h1>
												<p class="lorem_text">
													ipsum dolor sit
													amet,
													consectetur
													adipiscing elit,
													sed do eiusmod
													tempor
													incididunt ut
													labore et dolore
													magna aliqua.
												</p>
												<button class="buy_bt">Mua
													ngay</button>
												<button class="more_bt">Xem
													thêm</button>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="shoes_img"><img
													src="../images/running-shoes.png">
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="row">
										<div class="col-sm-2 padding_0">
											<p class="mens_taital">Giày nam
											</p>
											<div class="page_no">0/2</div>
											<p class="mens_taital_2">Giày
												nam</p>
										</div>
										<div class="col-sm-5">
											<div class="banner_taital">
												<h1 class="banner_text">
													Mẫu giày chạy bộ
													mới</h1>
												<h1 class="mens_text">
													<strong>Men's
														Like
														Plex</strong>
												</h1>
												<p class="lorem_text">
													Bạn sẽ khó có
													nhiều thời gian
													để chăm chút cho
													sự lựa chọn giầy
													dép. Có quá
													nhiều phụ nữ
													nghĩ rằng giầy
													dép không quan
													trọng, nhưng
													toàn bộ sự tinh
													tế của phụ nữ
													toát ra chính từ
													đôi chân.</p>
												<button class="buy_bt">Mua
													ngay</button>
												<button class="more_bt">Xem
													thêm</button>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="shoes_img"><img
													src="../images/running-shoes.png">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- header section end -->
	<!-- new collection section start -->
	<div class="layout_padding collection_section">
		<div class="container">
			<h1 class="new_text"><strong>Bộ sưu tập mới</strong></h1>
			<p class="consectetur_text">Con người chẳng bao giờ lên kế hoạch để thất bại; chỉ đơn giản là họ
				đã thất bại trong việc lên kế hoạch để thành công.</p>
			<div class="collection_section_2">
				<div class="row">
					<div class="col-md-6">
						<div class="about-img">
							<button class="new_bt">Mới</button>
							<div class="shoes-img"><img src="../images/shoes-img1.png"></div>
							<p class="sport_text" style="width: 150px;">Thể thao nam</p>
							<div class="dolar_text"><strong
									style="color: #f12a47;">790.000</strong> VND
							</div>
							<div class="star_icon">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
						</div>
						<button class="seemore_bt"><a href="shoes.html">Xem thêm</a></button>
					</div>
					<div class="col-md-6">
						<div class="about-img2">
							<div class="shoes-img2"><img src="../images/shoes-img2.png"></div>
							<p class="sport_text" style="width: 150px;">Thể thao nam</p>
							<div class="dolar_text"><strong
									style="color: #f12a47;">790.000</strong> VND
							</div>
							<div class="star_icon">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="collection_section">
		<div class="container">
			<h1 class="new_text"><strong>Chính hãng 100% ✅</strong></h1>
			<p class="consectetur_text">Con người chẳng bao giờ lên kế hoạch để thất bại; chỉ đơn giản là họ
				đã thất bại trong việc lên kế hoạch để thành công.</p>
		</div>
	</div>
	<div class="collectipn_section_3 layuot_padding">
		<div class="container">
			<div class="racing_shoes">
				<div class="row">
					<div class="col-md-8">
						<div class="shoes-img3"><img src="../images/shoes-img3.png"></div>
					</div>
					<div class="col-md-4">
						<div class="sale_text"><strong><br>Siêu giảm giá <br><span
									style="color: #070707;">Giày unisex </span>
							</strong></div>
						<div class="number_text"><strong><span
									style="color: #030303; font-size: 30px; ">chỉ</span>
								<span style="color: #fc0435">199 </span><span
									style="color: #030303; font-size: 30px; ">K</span></strong>
						</div>
						<button class="seemore"><a href="shoes.html">Xem thêm</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="collection_section layout_padding">
		<div class="container">
			<h1 class="new_text"><strong>Các sản phẩm mới </strong></h1>
			<p class="consectetur_text">Con người chẳng bao giờ lên kế hoạch để thất bại; chỉ đơn giản là họ
				đã thất bại trong việc lên kế hoạch để thành công.</p>
		</div>
	</div>
	<!-- new collection section end -->
	<!-- New Arrivals section start -->
	<div class="layout_padding gallery_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="best_shoes">
						<p class="best_text">Hàng chính hãng </p>
						<div class="shoes_icon"><img style="width: 250px; height: auto; "
								src="../images/shoes-img12.png"></div>
						<div class="star_text">
							<div class="left_part">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
							<div class="right_part">
								<div class="shoes_price">VND<span
										style="color: #ff4e5b;"> <br>
										2.390.000</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="best_shoes">
						<p class="best_text">Hàng chính hãng</p>
						<div class="shoes_icon"><img src="../images/shoes-img5.png"></div>
						<div class="star_text">
							<div class="left_part">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
							<div class="right_part">
								<div class="shoes_price">VND <span
										style="color: #ff4e5b;">1.790.000</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="best_shoes">
						<p class="best_text">Hàng chính hãng </p>
						<div class="shoes_icon"><img style="width: 250px; height: auto; "
								src="../images/shoes-img13.png"></div>
						<div class="star_text">
							<div class="left_part">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
							<div class="right_part">
								<div class="shoes_price">VND <span
										style="color: #ff4e5b;">1.690.000</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="best_shoes">
						<p class="best_text">Giày thể thao</p>
						<div class="shoes_icon"><img src="../images/shoes-img7.png"></div>
						<div class="star_text">
							<div class="left_part">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
							<div class="right_part">
								<div class="shoes_price">VND <span
										style="color: #ff4e5b;">1.690.000</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="best_shoes">
						<p class="best_text">Giày dã ngoại</p>
						<div class="shoes_icon"><img src="../images/shoes-img8.png"></div>
						<div class="star_text">
							<div class="left_part">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
							<div class="right_part">
								<div class="shoes_price">VND <span
										style="color: #ff4e5b;">1.790.000</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="best_shoes">
						<p class="best_text">Giày thể thao</p>
						<div class="shoes_icon"><img src="../images/shoes-img9.png"></div>
						<div class="star_text">
							<div class="left_part">
								<ul>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
									<li><a href="#"><img
												src="../images/star-icon.png"></a>
									</li>
								</ul>
							</div>
							<div class="right_part">
								<div class="shoes_price">VND <span
										style="color: #ff4e5b;">1.790.000</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="buy_now_bt">
				<button class="buy_text">Mua
					ngay</button>
			</div>
		</div>
	</div>
	<!-- New Arrivals section end -->
	<!-- contact section start -->
	<div class="layout_padding contact_section">
		<div class="container">
			<h1 class="new_text"><strong>Liên hệ ngay</strong></h1>
		</div>
		<div class="container-fluid ram">
			<div class="row">
				<div class="col-md-6">
					<div class="email_box">
						<form style="padding: 10px 20px;">
							<div class="mb-3">
								<label for="exampleInputPassword1" class="form-label">Họ
									tên</label>
								<input type="text" class="form-control"
									id="exampleInputPassword1">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Địa
									chỉ Email</label>
								<input type="email" class="form-control"
									id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Số
									điện thoại</label>
								<input type="tel" class="form-control"
									id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Tin
									nhắn</label>
								<div class="form-floating">
									<textarea class="form-control"
										placeholder="Nội dung"
										id="floatingTextarea" rows="5"
										style="resize: none;"></textarea>
								</div>
							</div>
							<div class="text-center w-100" style="margin-top: 30px;">
								<button type="submit" class="btn btn-primary w-100">Xác
									nhận</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="shop_banner">
						<div class="our_shop">
							<button class="out_shop_bt">Cửa hàng của chúng tôi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact section end -->
	<!-- section footer start -->

    <footer>
		<div class="section_footer">
			<div class="container">
				<!-- Cột 1: Logo -->
				<div class="col">
					<a href="#"><img src="../images/footer-logo.png" class="footer-logo"></a>
				</div>
	
				<!-- Cột 2: Liên hệ -->
				<div class="col">
					<div class="footer-logo">
						<img src="../images/logo-phone.png">
						<span><a href="https://zalo.me/0374010392">(+84) 371040392	</a></span>
					</div>
					<div class="footer-logo">
						<img src="../images/logo-gmail.png">
						<span style="height: 20px;">tamwukong1g@gmail.com</span>
					</div>
				</div>
	
				<!-- Cột 3: Mạng xã hội -->
				<div class="col">
					<div class="social_icon">
						<ul>
							<li><a href="https://www.facebook.com/share/1KDaGv5JLe/"><img src="../images/logo-fb.png"></a></li>
							<li><a href="https://x.com/pullo_shop"><img src="../images/logo-x.png"></a></li>
							<li><a href="https://www.instagram.com/_hoangtam3009_/"><img src="../images/ig-logo.png"></a></li>
							<li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=tamwukong1g@gmail.com&su=Chủ đề email&body=Nội dung email" target="_blank"><img src="../images/logo-google.png"></a></li>
						</ul>
					</div>
				</div>
			</div>
	
			<div class="container">
				<!-- Cột 4: Địa chỉ -->
				<div class="col">
					<h3 style="color: white;">Địa chỉ</h3>
					<p>
						<div class="footer-logo">
							<img style="width: 40px; height: auto;" src="../images/logo-map.png" alt="Logo Map">
							<span><a href="https://www.google.com/maps/place/112+Lê+Thị+Hồng+Gấm">
								Số 112, đường Lê Thị Hồng Gấm, Mỹ Tho, Tiền Giang
							</a></span>
						</div>
					</p>
				</div>
	
				<!-- Cột 5: Công ty -->
				<div class="col">
					<h3 style="color: white;">Công ty của chúng tôi</h3>
					<div class="delivery_text">
						<ul>
							<li><a href="#">Vận Chuyển</a></li>
							<li><a href="#">Thông tin pháp lý</a></li>
							<li><a href="#">Về chúng tôi</a></li>
							<li><a href="#">Thanh toán</a></li>
							<li><a href="#">Liên hệ</a></li>
						</ul>
					</div>
				</div>
	
				<!-- Cột 6: Sản phẩm -->
				<div class="col">
					<h3 style="color: white;">Sản phẩm</h3>
					<div class="delivery_text">
						<ul>
							<li><a href="racing boots.html">Giá đã giảm</a></li>
							<li><a href="shoes.html">Sản phẩm mới</a></li>
							<li><a href="collection.html">Bán chạy nhất</a></li>
							<li><a href="#">Về chúng tôi</a></li>
							<li><a href="introduce.html">Giới thiệu thành viên</a></li>
							<li><a href="sitemap.html"><button>Sitemap</button></a></li>
						</ul>
					</div>
				</div>
	
				<!-- Cột 7: Bản tin -->
				<div class="col">
					<h3 style="color: white;">Nhận thông tin mới</h3>
					<input type="text" class="enter_email" placeholder="Nhập email của bạn">
					<button class="subscribr_bt">Đăng ký</button>
				</div>
			</div>
		</div>
	
		<!-- Chân trang -->
		<div class="copyright">
			Nhóm 3
		</div>
	</footer>
	
	

	


      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });});

        $('#myCarousel').carousel({
            interval: false
        });

        //scroll slides on swipe for touch enabled devices

        $("#myCarousel").on("touchstart", function(event){

            var yClick = event.originalEvent.touches[0].pageY;
            $(this).one("touchmove", function(event){

                var yMove = event.originalEvent.touches[0].pageY;
                if( Math.floor(yClick - yMove) > 1 ){
                    $(".carousel").carousel('next');
                }
                else if( Math.floor(yClick - yMove) < -1 ){
                    $(".carousel").carousel('prev');
                }
            });
            $(".carousel").on("touchend", function(){
                $(this).off("touchmove");
            });
        });
		
      </script>
   </body>
</html>