<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/Signup2.css" />
  <!-- font roboto -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <!-- from login -->
  <div class="login" style="background-image: url(images/shoes-img1.png);background-position: right;">
    <div class="login__container">
      <h1>Đăng Ký</h1>
      <h5 style="color: red; text-align: center; margin-bottom: 20px;" id="error"></h5>
      <form action="./sign-in" method="post">
        <div class="row">
          <div class="col-6">
            <div>
              <h5>Tài khoản</h5>
              <input type="text" id="username" name="id" class="form-control" required />
            </div>

            <div>
              <h5>Mật khẩu</h5>
              <input type="password" id="password" name="password" class="form-control" required />
            </div>

            <div>
              <h5>Xác nhận mật khẩu</h5>
              <input type="password" id="password-confirm" name="password" class="form-control" />
            </div>
          </div>
          <div class="col-6">
            <div>
              <h5>Họ & Tên</h5>
              <input type="text" id="fullName" name="fullName" class="form-control" required />
            </div>

            <div>
              <h5>Điện thoại</h5>
              <input type="number" id="phone" name="phone" class="form-control" required />
            </div>

            <div>
              <h5>Email</h5>
              <input type="email" id="email" name="email" class="form-control" />
            </div>


          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <h5>Địa chỉ</h5>
              <input type="text" id="address" name="address" class="form-control" required />
          </div>
        </div>
        <div>
          <button type="submit" onclick="return checkPassword()" class="login__signInButton" style="width: 100%;">Đăng Ký</button>
        </div>
      </form>
      <a style="text-align: center;" href="./signup.html" class="login__registerButton">Đăng nhập</a>
    </div>
  </div>
</body>
<script src="../js/signup.js"></script>

</html>