<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
        <div class="container">
                <div class="row">
                        <div class="col-sm-1">
                                <div class="logo"><a href="/"><img style="height: 42px;" src="../../images/logo.png"></a></div>
                        </div>
                        <div class="col-sm-9">
                                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                                aria-expanded="false" aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                                <div class="navbar-nav">
                                                        <a id="home" class="nav-item nav-link" style="width: 160px;"
                                                                href="/">Trang
                                                                chủ</a>
                                                        <a class="nav-item nav-link" style="width: 150px;"
                                                                href="collection.html">Bộ sưu tập</a>
                                                        <a class="nav-item nav-link" style="width: 140px;" href="shoes.html">Mẫu
                                                                giày</a>
                                                        <a class="nav-item nav-link" style="width: 180px;"
                                                                href="racing boots.html">Giày đua xe</a>
                                                        <a class="nav-item nav-link" style="width: 120px;"
                                                                href="contact.html">Liên hệ</a>
                                                        <% if(user) { %>
                                                                <a class="nav-item nav-link" style="width: 180px;"
                                                                        href="/info">
                                                                        <%=user._id%>
                                                                </a>
        
                                                                <%}else{%>
                                                                        <a class="nav-item nav-link" style="width: 180px;"
                                                                                href="/login">Đăng nhập</a>
                                                                        <%}%>
        
                                                                                <a class="nav-item nav-link last" href=""><img
                                                                                                src="../../images/search_icon.png"></a>
                                                                                <a class="nav-item nav-link last"
                                                                                        href="/order/show-cart"><img
                                                                                                src="../../images/shop_icon.png"></a>
                                                </div>
                                        </div>
                                </nav>
                        </div>
                </div>
        </div>
</body>
</html>